<div class="container">
  <h1>Private Events</h1>
	<ul>
		<li>
			<%= link_to "Home", root_path %>
		</li>
		<li>
			<% if user_signed_in? %>
        <%= link_to "Profile", user_path(current_user) %>
      <% else %>
        Profile
      <% end %>
		</li>
		<li>
			<%= link_to "Create Event", new_event_path %>
		</li>
		<li>
			<% if user_signed_in? %>
				<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign in", "/users/sign_in" %>
			<% end %>
		</li>
	</ul>
</div>