<h1>Name: <%= @event.name %> </h1>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %> </p>

<% if @event.creator_id == current_user[:id] %>
  <%= link_to "Edit Event", edit_event_path(@event) %>
  <%= link_to "Delete Event", event_path(@event), data: { 
    turbo_method: :delete, 
    turbo_confirm: "Are you sure?" 
    } %>
<% elsif @event.attendees.include?(current_user) %>
  <%= link_to "Cancel RSVP", cancel_event_path %>
<% else %>
  <%= link_to 'RSVP', rsvp_event_path %>
<% end %>

<h2>Attendees</h2>
<% if @event.attendees.empty? %>
  <p>No attendees, yet.</p>
<% else %>
  <% @event.attendees.each do |attendee| %>
    <p>User: <%= attendee.name %> </p>
  <% end %>
<% end %>
